<% layout('layouts/boilerplate') %>
<h1>All Hiking Trails</h1>
<div>
    <a href="/hikingTrails/new">Add Hiking Trail</a>
</div>
<% for (let hikingTrail of hikingTrails) { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <img src="<%= hikingTrail.image %>" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= hikingTrail.title %></h5>
                <p class="card-text"><%= hikingTrail.description %></p>
                <p class="card-text">
                    <small class="text-body-secondary"><%= hikingTrail.location %></small>
                </p>
                <a href="/hikingTrails/<%= hikingTrail._id %>" class="btn btn-primary">View <%= hikingTrail.title %></a>
            </div>
        </div>
    </div>
</div>
<% } %>